@import 'tachyons/css/tachyons.css';
@import 'tachyons-opacity/css/tachyons-opacity.css';
@import 'tachyons-outlines/css/tachyons-outlines.css';
@import 'tachyons-z-index/css/tachyons-z-index.css';

:root {
  --black-90: rgba(0,0,0,.9);
  --black-80: rgba(0,0,0,.8);
  --black-70: rgba(0,0,0,.7);
  --black-60: rgba(0,0,0,.6);
  --black-50: rgba(0,0,0,.5);
  --black-40: rgba(0,0,0,.4);
  --black-30: rgba(0,0,0,.3);
  --black-20: rgba(0,0,0,.2);
  --black-10: rgba(0,0,0,.1);

  --transparent: transparent;

    --blue: rgb(93,183,222);
   --green: rgb(125,206,130);
  --orange: rgb(255,131,96);
  --purple: rgb(192,132,151);
}

@for $i from 10 to 90 by 10 {
  .fill--black-$i   { fill: var(--black-$i) }
  .stroke--black-$i { stroke: var(--black-$i) }
}

.fill--transparent   { fill: var(--transparent) }
.stroke--transparent { stroke: var(--transparent) }

.sans-serif {
  font-family: karla,-apple-system,BlinkMacSystemFont,
               avenir next,avenir,helvetica,helvetica neue,
               ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.monospace {
  font-family: source code pro,monospace;
}

.bb0 {
  border-bottom: 0;
}

.dt-footer-group {
  display: table-footer-group;
}

.b-box {
  box-sizing: border-box;
}

.no-resize {
  resize: none;
}

.pointer:hover {
  cursor: pointer;
}

.pe-none {
  pointer-events: none;
}

.form-radio {
  margin-left: -1px;
  &:first-of-type {
    margin-left: 0;
  }
}

span.form-extent {
  padding-top: .4rem;
}

input.form-extent {
  padding-left: 2.5rem;
  margin-left: -1px;
  &:first-of-type {
    margin-left: 0;
  }
}

button.form-extent,
.form-button {
  margin-left: -1px;
}

.b-focus--black-50 {
  transition: border-color .15s ease-in;
  &:focus {
    border-color: var(--black-50);
  }
}

.bg-hover--black-20 {
  transition: background-color .15s ease-in;
  &:hover {
    background-color: var(--black-20);
  }
}

.line {
  fill: none;
  stroke-width: 3px;
}

.blue   { color: var(--blue) }
.green  { color: var(--green) }
.orange { color: var(--orange) }
.purple { color: var(--purple) } 

.fill--blue   { fill: var(--blue) }
.fill--green  { fill: var(--green) }
.fill--orange { fill: var(--orange) }
.fill--purple { fill: var(--purple) }

.stroke--blue   { stroke: var(--blue) }
.stroke--green  { stroke: var(--green) }
.stroke--orange { stroke: var(--orange) }
.stroke--purple { stroke: var(--purple) }